.App {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.generator {
	background-image: #fafafa;
	border-radius: 10px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
	padding: 30px;
}
.generator__header {
	text-align: center;
	color: #1e0099;
	margin-bottom: 20px;
}
.checkbox:checked:before {
	background-color: #1e0099;
}
.generator__password {
	background-color: #fafafa;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
	padding: 13px 10px;
	color: #fff;
	margin-bottom: 15px;
	height: 46px;
	display: flex;
	justify-content: space-between;
}
.generator__password h3 {
	color: #1e0099;
}
.copy__btn {
	color: #1e0099;
	border: none;
	cursor: pointer;
	min-width: 1.125rem;
	background-color: #fafafa;
}
.generator__btn {
	background: #1e0099;
	border: none;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	color: #fff;
	border-radius: 30px;
	font-size: 10px;
	cursor: pointer;
}
.form-group {
	display: flex;
	justify-content: space-between;
	color: gre;
	margin-bottom: 15px;
}
